#registrationForm {
  position: fixed;
  top: 18%;
  left: 40%;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgb(58, 67, 106);
  /* padding: 40px; */
  font-family: 'Raleway', sans-serif;
  
}

#registrationButton,
input[id="registrationField"] {
  width : 500px;
  padding: 4px;
  margin: 10px;
  box-sizing: border-box;
  display: block;
}

#registrationFormTitle{
  /* padding-bottom: 10px; */
  color: white;
}

#registrationName{
  display: flex;
  flex-direction: row;
}

input[id="firstName"] {
  width : 200px;
}
input[id="lastName"] {
  width: 200px;
}