#offerCard {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 300px;
    border-radius: 0.5em;
    margin-right: 2em;
    margin-top: 8em;
    opacity: .98;
    justify-content: center;
    align-items: center;
    font-size: small;
    cursor:pointer;
  }

#homeOfferImage {
  height: 260px;
  width: 260px;
  margin-top:0;
}


#homeOfferTitle{
  font-size: 1.2em;

}

/* #homeOfferOnHover{

} */