#registrationForm {
  position: fixed;
  top: 20%;
  left: 34%;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(10,75,186);
  font-family: 'Raleway', sans-serif;
  
}

#firstName{
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

#lastName{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

input[id="firstNameField"], input[id="lastNameField"] {
  width : 207px;
  margin-bottom: 20px;
}

#email, #password, #confirmPassword {
  margin-left: 75px;
  margin-bottom: 0px;
}

#registrationButton,
input[id="registrationField"] {
  width : 445px;
  padding: 4px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-left: 75px;
  box-sizing: border-box;
  display: block;
}

#registrationFormTitle{
  color: white;
  margin-left: 75px;
  margin-top: 22px;
}

#registrationName{
  display: flex;
  flex-direction: row;
  margin-left: 75px;
}

