#homeRequestCard {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 220px;
  border-radius: 0.5em;
  margin-right: 2em;
  margin-bottom: 3em;
  opacity: .98;
  font-size: small;
  border:2px solid grey;
}

#homeRequestTitle{
  font-size: medium;
  margin-left: 40px;
}

#homeRequestInnerCard{
  margin-left: 10px;

}