header {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 100%;
  border-right: rgb(253, 252, 252) solid;
  border-width: thin;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Raleway', sans-serif;
}

#navLinks{
  margin-left: 20px;
  font-size: 1.4em;
  margin-top: 10px;

}

a:-webkit-any-link {
  text-decoration: none;
  color: rgb(10,75,186);

  /* color:rgb(181, 181, 208); */
}

#navContainer a:hover {
  font-style: italic;
  color:rgb(181, 181, 208);

}

#navContainer a.active {
  font-style: italic;
}

#homeTitle {
  font-size: 1.8em;
  color:rgb(181, 181, 208);
  margin-bottom: 2px;
  margin-top: 20px;
  margin-left: 16px;
  border-bottom: black solid;
  border-width: thin;
  padding-bottom: 10px;
  font-weight: bold;
}

#dashboardTitle {
  margin-bottom: 25px;
  margin-left: 10px;
}

#mutualaidTitle {
  margin-bottom: 25px;
  margin-left: 10px;
}

#offersTitle {
  margin-bottom: 25px;
  margin-left: 10px;
}

#requestsTitle {
  margin-bottom: 25px;
  margin-left: 10px;
}

#loginTitle {
  margin-bottom: 25px;
  margin-left: 10px;
}

#registerTitle {
  margin-bottom: 25px;
  margin-left: 10px;
}

#logout{
  margin-bottom: 25px;
  margin-left: 10px;
}
