#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(108, 231, 20);
  padding: 1em;
  min-height: 2em;
  text-decoration: none;
}

#navbarContainer {
  background-color: red
}

#navbarContainer a:hover {
  font-style: italic;
} 

#navbarContainer a.active {
  font-style: italic;
} 