#navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(98, 7, 7);
  padding: 1em;
  min-height: 2em;
  display: flex;
}

#navbar {
  background-color: red
}

#navbar a:hover {
  font-style: italic;
} 

#navbar a.active {
  font-style: italic;
} 