#signUpRegisterForm {
  position: fixed;
  top: 15%;
  left: 40%;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgb(10,75,186);
  font-family: 'Raleway', sans-serif;
}

#loginButton,
input[class="loginField"] {
  width : 500px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

#loginFormTitle{
  color: rgb(199, 26, 26);
  position:fixed;
  top:14%;
  margin-left: 50px;
  margin-bottom: 20px;
}

#emailTitle{
margin-left: 50px;
margin-top: 200px;
margin-bottom: 3px;
}

#passwordTitle{
  margin-left: 50px;
  margin-bottom: px;
}

#navigateToRegisterPage{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

#signin{
  margin-left: 10px;
  border-width: thin;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* 
#alreadyMember{

} */
