#offerCard {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  border-radius: 0.5em;
  margin: 1em;
  opacity: .98;
  justify-content: center;
  align-items: center;
  border: 1px solid #151e3d;
  font-size: small;
  cursor:pointer;
}

/* for testing purposes only */
#offercardImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60%;
}
