#dashboardPage {
  display: flex;
  flex-direction: column;
}

#dashboardPageTitle{
  top: 5%;
  right: 2%;
  position: fixed;
}

#dashboardPageForms{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 100%;
  border-right: black solid;
  border-width: thin;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  float: right;
}

#dashboardOffersList {
  margin-top: 5px;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
}

#dashboardOfferCards{
  display: flex;
  flex-direction: row;
}

#dashboardRequestsList {
  margin-top: 100px;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
}

#dashboardRequestCards{
  display: flex;
  flex-direction: row;
}