#dashboardPage {
  display: flex;
  flex-direction: column;
}

#dashboardPageTitle{
  top: 2%;
  right: 2%;
  position: fixed;
}

#dashboardPageForms{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 100%;
  border-left: rgb(253, 252, 252) solid;
  border-width: thin;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  float: right;
}

#createOfferForm{
margin-bottom: 30px;
}

#offerForm{
  margin-top: 50px;
}

#form-submit,
input[id="createOffer"],
select[id="createOffer"]{
  width : 200px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

#formTitle{
  text-align: center;
  justify-content: center;
  align-items: center;
}


input[id="createOfferDescription"]{
  width : 200px;
  height: 60px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

#form-submit,
input[id="createRequest"],
select[id="createRequest"]{
  width : 200px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

input[id="createOfferDescription"]{
  width : 200px;
  height: 60px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}








/* #dashboardOffersList {
  margin-top: 5px;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
} */


/* #dashboardOffersList {
  margin-top: 64px;
  margin-left: 350px;
  display: flex;
  flex-direction: row;
} */

/* #dashboardOfferCards{
  display: flex;
  flex-direction: row;
} */

#dashboardRequestsList {
  margin-top: 100px;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
}

#dashboardRequestCards{
  display: flex;
  flex-direction: row;
}