#dashboardPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboardOffersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
} 

#dashboardOfferCards{
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#dashboardRequestsListTitle, #dashboardOffersListTitle {
  font-size: .7em;
}

#dashboardRequestsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboardRequestCards{
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* Forms */

#dashboardPageForms{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 100%;
  border-left: rgb(253, 252, 252) solid;
  border-width: thin;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  float: right;
}

#createOfferForm{
margin-bottom: 30px;
}

#offerForm{
  margin-top: 50px;
}

#form-submit,
input[id="createOffer"],
select[id="createOffer"]{
  width: 200px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

#formTitle{
  text-align: center;
  justify-content: center;
  align-items: center;
}


input[id="createOfferDescription"]{
  width : 200px;
  height: 60px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

#form-submit,
input[id="createRequest"],
select[id="createRequest"]{
  width : 200px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}

input[id="createOfferDescription"]{
  width : 200px;
  height: 60px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 50px;
  left: 20%;
  box-sizing: border-box;
  display: block;
}