/* #homeContainer {
  position: fixed;
  top: 20%;
  left: 38%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgb(139, 225, 99);
  padding: 40px;
} */

#homePageGif{
  width: 600px;
  height: 400px;
  position: fixed;
  top: 18%;
  left: 40%;
}

#homePageText{
  width: 595px;
  height: 400px;
  position: fixed;
  top: 60%;
  left: 40%;
  text-align: justify;
  text-justify: inter-word;

}
