#homeContainer {
  position: fixed;
  top: 20%;
  left: 38%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgb(139, 225, 99);
  padding: 40px;
}

