#homePage{
  background-image: url("https://www.oxbowschool.org/assets/news/blog/2020/4/time-based-drawing-with-light-and-shadow/_large_16_9/Screen-Shot-2020-04-13-at-10.17.45-AM.png");
}

#homePageGif{
  width: 600px;
  height: 400px;
  position: fixed;
  top: 15%;
  left: 40%;
}

#homePageText{
  width: 595px;
  height: 400px;
  position: fixed;
  top: 58%;
  left: 40%;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Raleway', sans-serif;
  color: rgb(146, 146, 174);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,200&display=swap');
