#requestPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#requestPageTitle {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}

#barChart{
  width: 400px;
  height: 400px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}

#homeRequestList{
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}