#requestPage{
  display: flex;
  flex-direction: column;
}

#requestPageTitle {
  top: 0;
  right: 2%;
  position: fixed;
}

#barChart{
  top: 10%;
  left: 30%;
  width: 400px;
  height: 400px;
  position: fixed;
  margin-left: 100px;
}

#homeRequestList{
  margin-top: 550px;
  margin-left: 350px;
  display: flex;
  flex-direction: row;
}