#dashboardRequestCard {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 240px;
  border-radius: 0.5em;
  margin-right: 2em;
  margin-bottom: 3em;
  opacity: .98;
  font-size: small;
  color: white;
  background-color: rgb(134, 170, 176);
  box-shadow: inset 2px 0px 100px #919ed3, inset -2px -2px 2px #cbcdd3;

}

#dashboardRequestTitle, #dashboardOfferTitle{
  font-size: medium;
  margin-left: 8px;
}

#dashboardRequestInnerCard{
  margin-left: 10px;

}

#removeRequestButton{
  width: 110px;
  background-color: white;
  border: none;
  cursor: pointer;
}

#buttondashboardrequest{
  justify-content: center;
  text-align: center;

}
