#offersPage {
  display: flex;
  flex-direction: column;
}

#offerPageHeader{
  flex-direction: row;
}

#searchBar {
  top: 5%;
  right: 2%;
  position: fixed;
}

#homeOfferList{
  margin-top: 64px;
  margin-left: 350px;
  display: flex;
  flex-direction: row;
}

#homeOfferPageTitle{
  top: 0;
  right: 2%;
  position: fixed;
}