#dashboardRequestCard {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 230px;
  border-radius: 0.5em;
  margin-right: 2em;
  margin-bottom: 3em;
  opacity: .98;
  font-size: small;
  border:2px solid grey;
}

#dashboardRequestTitle, #dashboardOfferTitle{
  font-size: medium;
  margin-left: 8px;
}

#dashboardRequestInnerCard{
  margin-left: 10px;

}

#removeRequestButton{
  width: 110px;
}

#buttondashboardrequest{
  justify-content: center;
  text-align: center;

}
