#dashboardRequestCard {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 200px;
  border-radius: 0.5em;
  margin-right: 2em;
  opacity: .98;
  font-size: small;
  border:2px solid grey;
}

#dashboardRequestTitle{
  font-size: medium;
  margin-left: 40px;
}

#dashboardRequestInnerCard{
  margin-left: 10px;

}
